/* /* .d_container {
    width: 900px;
    height: 450px;
    background-color: blue;
    display: flex;
    flex-direction: row; */
/* 
.d_div_princ1,
.d_div_princ2 {
    width: 25%;
    height: 100%;
    background-color: rgb(57, 177, 33);
    border: 1px solid black;

}

.d_div_amarela {
    height: 33%;
    width: 100px;
    background-color: yellow;
}

.d_div_princ1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.d_div_princ2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.div_vermelha {
    background-color: red;
    width: 100%;
    height: 100%;


}




.d_cores {
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 10px solid black;

}

.div_roxo,
.div_amarelo_escuro,
.div_azul {
   flex: 1;
    border: 5px solid black;



}

.div_roxo {

    background-color: blueviolet;


}

.div_amarelo_escuro {

    background-color: rgb(219, 219, 26);

}

.div_azul {

    background-color: rgb(28, 155, 230);

} */


.div_container {
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: black
}

.div_princ1,
.div_princ2,
.div_princ3 {
    width: 1000px;
    height: 500px;
    flex: 1;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.div_princ1 {
    background-color: red;
    justify-content: flex-end;

}

.div_princ2 {
    background-color: blue;
    justify-content: center;
}

.div_princ3 {

    background-color: green;
    justify-content: flex-start;
}

.quadrado {
    background-color: yellow;
    width: 200px;
    height: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;

    
}

.div_laranja{
    background-color: orange;
    width: 100px;
    height: 100px;
    align-self: flex-end;

}

.div_black{
    background-color: black;
    width: 100px;
    height: 100px;
    align-self: flex-end;
}

.bola_roxa{
    width: 100px;
    height: 100px;
    background-color: hwb(255 0% 0%);
    border-radius: 50%;
    
}



/* Card */

.list-cards{
    display: flex;
    flex-direction: row;
}

.card-container{
    width: 250px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    margin: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    
    
}

.card-img{
    flex: 2;
    /* background-color: blue; */
}

 .card-img img{
    width: 250px;
    height: 170px;
    object-fit: cover;
 }

.card-detalhe{
    flex: 3;
}